<h1>
  <%= @got_title %>
</h1>

<img src=" <%= @book_cover %> " alt="bookcover">


<p>
  Author:
  <%= @authors %>
</p>

<p>
  Date Published:
  <%= @publishedDate %>
</p>

<p>
  Page Count:
  <%= @pageCount %>
</p>

<p>
  Description: 
  <%= @description %>
</p>
