<!DOCTYPE html>
<html>
  <head>
    <title>Oceans</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="../app/assets/stylesheets/oceans.css">
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "All Oceans", oceans_path %>
        <%= link_to "Add Ocean", new_ocean_path %>
      </nav>
      <%= yield %>
      </div>
  </body>
</html>
