<h1>Rock-Paper-Scissors, bitch!</h1>

<h2>Choose your poison</h2>

<a id="rock" href="<%= rock_path %>"><%= image_tag "rock.jpg", :alt => "the rock", id: 'rock' %></a>


<a id="paper" href="<%= rpsfail_path %>"><%= image_tag "paper.jpg", :alt => "paper", id: 'paper' %></a>


<a id="scissors" href="<%= rpsfail_path %>"><%= image_tag "scissors.jpg", :alt => "scissors", id: 'scissors'%></a>



<%= image_tag "clown6.gif", :alt => "clown6", class: 'clown' %>
