<div class="image">
  <img class="book" src="/img/book.png" alt="">
  
  
</div>

<div class="left-page">

<h2><%= @book_title %></h2>

<img class="title-image" src="<%= @cover_img %>" alt="">

</div>

<div class="right-page">
<p class="description"><%= @description %> </p>

<p>Published: <%= @published_date %></p>

<p> Rating: <%= @rating %> /5, Votes: <%= @rating_count%></p>

</div>