<h2><%= @hero["name"] %></h2>
<h3><span>Type:<span> <%= @hero["type"] %></h3>

<% unless @hero["image"].nil? %>
  <img class="feature" src="<%= @hero["image"] %>" alt="<%= @hero["name"] %>">
<% end %>

<div class="controls">
  <a href="/heroes/<%= @hero["id"] %>/edit">
    Edit Hero
  </a>
  <a href="/heroes/<%= @hero["id"] %>/delete">
    Delete Hero
  </a>
</div>
